<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PATIENT</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
</head>
<body class="bg-light">

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <a class="navbar-brand text-white" href="/">
      <i class="fa fa-heartbeat"></i>
      <span class="ml-2" style="font-family: 'Comic Sans MS', cursive; font-size: 1rem;">Blood Bank Management System</span>
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="/logout">Logout &nbsp;<i class="fa fa-power-off"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="d-flex" style="padding-top: 70px;">


    <div class="bg-dark text-white p-3" style="min-width: 200px; min-height: 100vh;">
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a class="nav-link text-light" href="/"><i class="fas fa-home mr-2"></i>Home</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link text-light" href="/patient/make-request"><i class="fas fa-user-plus mr-2"></i>Make Request</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link text-light" href="/patient/my-request"><i class="fas fa-history mr-2"></i>Request History</a>
        </li>
      </ul>

      <div class="d-flex justify-content-center mt-auto pt-3">
        <a href="#" class="btn btn-secondary btn-sm rounded-circle mx-1"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-secondary btn-sm rounded-circle mx-1"><i class="fab fa-twitter"></i></a>
        <a href="#" class="btn btn-secondary btn-sm rounded-circle mx-1"><i class="fab fa-instagram"></i></a>
      </div>
    </div>


    <div class="flex-grow-1 p-4 bg-white">
      {% block content %}
      {% endblock content %}
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>
</html>
