<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Navbar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="m-0">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #981309;">
    <a href="/" class="navbar-brand" style="font-size: 20px; font-family: sans-serif;">
      <i class="fas fa-heartbeat"></i>&nbsp; Blood Bank Management System
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/"><i class="fas fa-home"></i>&nbsp; Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/patient/patientlogin"><i class="fas fa-procedures"></i>&nbsp; Patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/donor/donorlogin"><i class="fas fa-user"></i>&nbsp; Donor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/adminlogin"><i class="fas fa-user-shield"></i>&nbsp; Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

</body>
</html>
